<h1> <%= @owner_request.manor.name %> </h1>

<h2> <%= @owner_request.user.name %> </h2>

<h2> <%= @owner_request.user.email %> </h2>

<h3> <%= @owner_request.date_from %> </h3>

<form action="/requests/confirm" method="post">
  <input type="hidden" value="<%= @owner_request.id %>" name="id">
  <input type="submit" value="Confirm request">
</form>
